.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.main{
    flex: 1;
    background-color: #e5e7d9;
    
}
h1{
    text-align: center;
}
.item{
    list-style-type: none;
}
footer{
    padding: 15px;
    background-color: #24a034;
    text-align: center;
}